<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
</head>

<body class="sb-nav-fixed">

   <nav th:replace="layout/layout :: navbar"></nav>

   <div id="layoutSidenav">

      <div th:replace="layout/layout :: layoutSidenav_nav">
      </div>
      <!-- Inicio Contenido -->

      <div id="layoutSidenav_content">

         <!-- inicio main -->
         <main>

            <div id="content-page" class="content-page">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-lg-9">
                        <div class="iq-card">
                           <div class="iq-card-header d-flex justify-content-between">
                              <div class="iq-header-title">
                                 <h4 class="card-title">Nuevo usuario</h4>
                              </div>
                           </div>
                           <div class="iq-card-body">
                              <div class="new-user-info">
                                 <form th:action="@{/usuario/guardar}" th:object="${usuario}" method="post">
                                    <div class="row">
                                       
                                       <div class="form-group col-md-6">
                                          <label for="lname">NOMBRE:</label>
                                          <input type="text" th:field="*{nombre}"
                                             th:errorclass="'form-control alert-danger'" class="form-control"
                                             placeholder="NOMBRE DEL USUARIO" />
                                          <small class="form-text text-danger"
                                             th:if="${#fields.hasErrors('nombre')}"
                                             th:errors="*{nombre}"></small>
                                       </div>
                                       <br>
                                       <div class="form-group col-md-6">
                                          <label for="altconno">APELLIDO:</label>
                                          <input type="text" th:field="*{apellido}"
                                             th:errorclass="'form-control alert-danger'" class="form-control"
                                             placeholder="APELLIDO DEL USUARIO" />
                                          <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}"
                                             th:errors="*{apellido}"></small>
                                       </div>
                                       <br>
                                       <div class="form-group col-md-6">
                                          <label for="email">CORREO:</label>
                                          <input type="email" th:field="*{email}"
                                             th:errorclass="'form-control alert-danger'" class="form-control"
                                             placeholder="CORREO ELECTRONICO DEL USUARIO" />
                                          <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
                                             th:errors="*{email}"></small>
                                       </div>
                                       <br>
                                       <div class="form-group col-md-6">
                                          <label for="text">USUARIO:</label>
                                          <input type="text" th:field="*{username}"
                                             th:errorclass="'form-control alert-danger'" class="form-control"
                                             placeholder="INGRESAR UN USUARIO" />
                                          <small class="form-text text-danger" th:if="${#fields.hasErrors('username')}"
                                             th:errors="*{username}"></small>
                                       </div>
                                       <div class="form-group col-md-6">
                                          <label for="text">CONTRASEÑA:</label>
                                          <input type="password" th:field="*{password}"
                                             th:errorclass="'form-control alert-danger'" class="form-control"
                                             placeholder="INGRESAR UNA CONTRASEÑA SEGURA" />
                                       </div>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-primary">GUARDAR</button>
                                    <button type="reset" class="btn btn-secondary">Limpiar</button>
                                    <a type="button" th:href="@{/usuario/listar}" class="btn btn-success">Volver</a>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

         </main>
         <!-- fin main -->

         <footer th:replace="layout/layout :: footer"></footer>
      </div>

   </div>

   <th:block th:replace="layout/layout :: script"></th:block>

</body>

</html>