<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
</head>

<body class="sb-nav-fixed">

    <nav th:replace="layout/layout :: navbar"></nav>

    <div id="layoutSidenav">

        <div th:replace="layout/layout :: layoutSidenav_nav">
        </div>
        <!-- Inicio Contenido -->

        <div id="layoutSidenav_content">

            <!-- inicio main -->
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Dashboard</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active" th:text="${titulo}"></li>
                    </ol>
                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-primary text-white mb-4">
                                <div class="card-body">Primary Card</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-warning text-white mb-4">
                                <div class="card-body">Warning Card</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-success text-white mb-4">
                                <div class="card-body">Success Card</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-danger text-white mb-4">
                                <div class="card-body">Danger Card</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- mensaje de validacion de registro -->
                    <div th:if="${msgExito != null}" class="alert alert-success alert-dismissible">
                        [[${msgExito}]]
                        <button type="button" class="btn btn-close" data-bs-dismiss="alert"></button>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Lista de cortes
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a th:href="@{/corte/nuevo}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="btn btn-primary"><i class="fa-solid fa-square-plus"></i>&nbsp;Agregar corte</a>
                                <a th:href="@{/reportes/cortes}" class="btn btn-danger" target="_blank"><i class="fa-solid fa-file-pdf"></i>&nbsp;Exportar a PDF</a>
                            </h4>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>EMPRESA</th>
                                        <th>OP</th>
                                        <th>OS</th>
                                        <th>MODELO</th>
                                        <th>CANTIDAD</th>
                                        <th>PRECIO</th>
                                        <th>N.GUIA</th>
                                        <th>FEC.ENTREGA</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="c : ${cortes}">
                                        <td th:text="${c.idCorte}"></td>
                                        <td th:text="${c.idEmpresa.descripcion}"></td>
                                        <td th:text="${c.op}"></td>
                                        <td th:text="${c.os}"></td>
                                        <td th:text="${c.modelo}"></td>
                                        <td th:text="${c.cantidad}"></td>
                                        <td th:text="${c.precio}"></td>
                                        <td th:text="${c.numGui}"></td>
                                        <td th:text="${c.fecEntrega}"></td>                                      
                                        <td><a class="btn btn-warning btn-sm" th:href="@{/corte/editar/{id}(id=${c.idCorte})}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><i class="fa-solid fa-pen-to-square"></i>&nbsp;Editar</a>
                                            <a class="btn btn-danger btn-sm" th:href="@{/corte/eliminar/{id}(id=${c.idCorte})}" onclick="return confirm('¿Estas seguro de eliminar?')" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><i class="fa-solid fa-trash-can"></i>&nbsp;Eliminar</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- paginacion -->
                            <nav th:replace="layout/paginator-nav :: paginator"></nav>
                            <!-- fin paginacion -->
                        </div>
                    </div>
                </div>
            </main>
            <!-- fin main -->

            <footer th:replace="layout/layout :: footer"></footer>
        </div>

    </div>

    <th:block th:replace="layout/layout :: script"></th:block>

</body>

</html>