<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
</head>

<body class="sb-nav-fixed">

    <nav th:replace="layout/layout :: navbar"></nav>

    <div id="layoutSidenav">

        <div th:replace="layout/layout :: layoutSidenav_nav">
        </div>
        <!-- Inicio Contenido -->

        <div id="layoutSidenav_content">

            <!-- inicio main -->
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Dashboard</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active" th:text="${titulo}"></li>
                    </ol>
                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-primary text-white mb-4">
                                <div class="card-body">Primary Card</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-warning text-white mb-4">
                                <div class="card-body">Warning Card</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-success text-white mb-4">
                                <div class="card-body">Success Card</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-danger text-white mb-4">
                                <div class="card-body">Danger Card</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Lista de empresas
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a th:href="@{/empresa/nuevo}" class="btn btn-primary" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Agregar empresa</a>
                                <a th:href="@{/empresa/exportarPDF}" class="btn btn-secondary">Exportar a PDF</a>
                                <a th:href="@{/empresa/exportarExcel}" class="btn btn-success">Exportar a Excel</a>
                            </h4>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>RUC</th>
                                        <th>NOMBRE</th>
                                        <th>CORREO</th>
                                        <th>DIRECCION</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="e : ${empresas}">
                                        <td th:text="${e.idEmpresa}"></td>
                                        <td th:text="${e.descripcion}"></td>
                                        <td th:text="${e.email}"></td>
                                        <td th:text="${e.direccion}"></td>                                     
                                        <td><a class="btn btn-warning btn-sm" th:href="@{/empresa/editar/{id}(id=${e.idEmpresa})}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Editar</a>
                                            <a class="btn btn-danger btn-sm" th:href="@{/empresa/eliminar/{id}(id=${e.idEmpresa})}" onclick="return confirm('¿Estas seguro de eliminar?')" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Eliminar</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- paginacion -->
                            <nav th:replace="layout/paginator-nav :: paginator"></nav>
                            <!-- fin paginacion -->
                        </div>
                    </div>
                </div>
            </main>
            <!-- fin main -->

            <footer th:replace="layout/layout :: footer"></footer>
        </div>

    </div>

    <th:block th:replace="layout/layout :: script"></th:block>

</body>

</html>